.social {
    &-list {
        @include flex;
        align-items: center;
        gap: 1.2rem;
    }

    &-link {
        display: block;
        width: 3.6rem;
        height: 3.6rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 100rem;
        border-radius: 100rem;

        &:hover {
            // background:var(--color-linear);
            // border-color: var(--color-second);
            img {
                // filter: brightness(0);
                transform: scale(1.1);
            }
        }

        @include max(1200px) {
            border:0.1rem solid white;
            border-radius: 100rem;
            background-color: white;
            img {
                // filter: brightness(0);
            }
        }

        img {
            width: 100%;
            display: block;
            border-radius: 0;
            transition: 0.4s;
        }


    }
}