@import url("../assets/font/Inter/stylesheet.css"); 
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media screen and (min-width: 2000px) {
        font-size: 80%;
    }
    @include min-max(1301px,1536px) {
        font-size: 58%;
    }
}

body {
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color:var(--color-text);
    overflow: hidden auto;
    @media screen and (min-width: 2000px) {
        font-size: 20px;
    }
    
}

a {
    text-decoration: none;
    color: inherit;
}

button,
select {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    cursor: pointer;
    @include font-pri;
}

button {
    padding: 0;
    background-color: transparent;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    @include font-pri;
    font-size: 1.6rem;
}

.main {
    min-height: 68vh;
    padding-top: var(--size-hd);
    @include max(1200px) {
    }
}

.container {
    width: 100%;
    max-width: 123rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.container-fluid {
    width: 100%;
    max-width: 146.5rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 3.2rem;
    @include max(1200px) {
        padding: 0 1.5rem;
    }
}

.over {
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }
}

.no-scroll {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

iframe {
    vertical-align: middle;
}

.load-item {
    display: none;
}

.show-hide-toggle {
    cursor: pointer;
}

img {
    max-width: 100%;
    border-radius: inherit;
    height: auto;
}

.global-title {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}