@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-BoldItalic.woff2') format('woff2'),
        url('SVN-BebasNeuePro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-Bold.woff2') format('woff2'),
        url('SVN-BebasNeuePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-BookItalic.woff2') format('woff2'),
        url('SVN-BebasNeuePro-BookItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Bold.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-BoldItalic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-Book.woff2') format('woff2'),
        url('SVN-BebasNeuePro-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-LightItalic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-ExtraBold.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Book.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-BookItalic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-BookItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-ExtraBoldItalic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Light.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Middle.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Middle.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Regular.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Italic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-Thin.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-MiddleItalic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-MiddleItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeueProExp-ThinItalic.woff2') format('woff2'),
        url('SVN-BebasNeueProExp-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-Light.woff2') format('woff2'),
        url('SVN-BebasNeuePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-MiddleItalic.woff2') format('woff2'),
        url('SVN-BebasNeuePro-MiddleItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-Italic.woff2') format('woff2'),
        url('SVN-BebasNeuePro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-LightItalic.woff2') format('woff2'),
        url('SVN-BebasNeuePro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-Regular.woff2') format('woff2'),
        url('SVN-BebasNeuePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Bebas Neue Pro';
    src: url('SVN-BebasNeuePro-Middle.woff2') format('woff2'),
        url('SVN-BebasNeuePro-Middle.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

