::-webkit-scrollbar {
    width: 0.4rem;
}


/* Track */

::-webkit-scrollbar-track {
    background:rgba($color: #292929, $alpha: .1);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 10rem;
    // border-radius: 100rem;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text);
}