.ab-first {
    position: relative;
    overflow: hidden;

    &__title {
        max-width: 88rem;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2.4rem;

        .sub {
            @include fz-20;
            color: #FF8800;
        }

        .ttmsl {
            @include fz-24;
            text-transform: uppercase;
        }

        .tt {
            @include fz-40;
            font-weight: 600;
            text-transform: uppercase;
        }

        .des {
            @include fz-20;
        }
    }

    &__item {
        height: 100%;

        .inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .img {
                &-inner {
                    @include imgPd(273, 430);
                    border-radius: var(--radius-xl);

                    img {
                        @include imgCover;
                    }
                }
            }

            .info {
                text-align: center;

                @include max(1200px) {
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__slide {
        .swiper {
            &-slide {
                @include max(900px) {
                    width: 50%;
                }

                @include max(500px) {
                    width: 100%;
                }
            }
        }
    }

    &.is-inview {
        .sign__dec {
            &:nth-child(1) {
                .in {
                    transform: translateX(-40%) scale(1);
                }
            }

            &:nth-child(2) {
                .in {
                    transform: translateX(40%) scale(1);
                }
            }
        }
    }
}

.ab-tnsm {
    &__flex {
        align-items: end;
    }

    &__left {
        width: 50%;
    }

    &__right {
        width: 50%;

        .wrapper {}
    }

    &__img {
        padding-top: 100%;
        position: relative;

        .img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-decs {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 2;

                .img-dec {
                    position: absolute;
                    aspect-ratio: 1/1;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        display: block;
                        animation: DownUp 2s ease-in-out infinite;
                    }

                    &:nth-child(1) {
                        right: 5%;
                        top: 10%;
                        width: 25%;

                        img {
                            animation-delay: 0s;
                        }
                    }

                    &:nth-child(2) {
                        left: 8%;
                        top: 18%;
                        width: 20%;

                        img {
                            animation-delay: 0.3s;
                        }
                    }

                    &:nth-child(3) {
                        right: 0;
                        bottom: 15%;
                        width: 30%;

                        img {
                            animation-delay: 0.5s;
                        }
                    }

                    &:nth-child(4) {
                        left: 25%;
                        bottom: 25%;
                        width: 15%;

                        img {
                            animation-delay: 0.7s;
                        }
                    }

                }
            }
        }
    }

    &__cls {
        border-bottom: 0.1rem solid var(--cl-bd);

        &-head {
            .txt {
                @include fz-32;
                font-weight: 600;
                text-transform: uppercase;
                background: #666666;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }

        &-body {
            .mona-content {
                strong {
                    color: var(--color-second);
                }

                @include max(1200px) {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        &-item {
            &.active {
                .ab-tnsm__cls-head {
                    .txt {
                        background: linear-gradient(180deg, #1A5B2E 0%, #37C162 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }
        }
    }

    @include max(850px) {
        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;

            .wrapper {
                max-width: 50rem;
                margin: 0 auto;
            }
        }
    }
}

.ab-three {
    &__flex {
        --cg: 1.6rem;
        --rg: 1.6rem;

        @include max(1200px) {
            --cg: 1.2rem;
            --rg: 1.2rem;

            .ab-three__item {
                .inner {
                    padding: 1rem;
                    .icon {
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    .tt {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        @include max(600px) {
            .ab-three__item {
                width: 50%;
                &:nth-child(3) {
                    width: 100%;
                }
            }
        }
    }

    &__item {
        width: calc(100% / 3);

        .inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            text-align: center;
            border: 0.1rem solid var(--cl-bd);
            border-radius: var(--radius);
            padding: 3.2rem;
            transition: 0.4s;

            .icon {
                width: 6.4rem;
                height: 6.4rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .tt {
                @include fz-20;
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.4s;
            }

            @include hover {
                border-color: var(--color-second);

                .tt {
                    color: var(--color-second);
                }
            }
        }
    }
}

.ab-prod {
    &__flex {}
    &__left {
        width: 50%;
        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            .head-verti {
                @include max(1024px) {
                    display: none;
                }
            }
            .img {
                margin-top: auto;
                .img-inner {
                    width: 100%;
                    height: auto;
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        display: block;
                    }
                }
            }
        }
    }
    &__right {
        width: 50%;
        .wrapper {
            .head-verti {
                @include min(1025px) {
                    display: none;
                }
            }
        }
    }
    &__blocks {
        
    }
    &__block {
        &:not(:last-child) {
            border-bottom: 0.1rem solid var(--cl-bd);
        }
        .inner {
            padding: 3.2rem 0;
            display: flex;
            gap: 1rem;
            .icon {
                width: 4.8rem;
                height: 4.8rem;
                flex-shrink: 0;
                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                    object-fit: contain;
                }
            }
            .content {
                .tt {
                    @include fz-24;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .mona-content {
                    p {
                        margin: 0;
                    }
                }
            }
        }
        @include max(1200px) {
            .inner {
                padding: 1rem 0;
                .content {
                    .tt {
                        font-size: 1.6rem;
                    }
                    .mona-content {
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    @include max(1024px) {
        &__flex {
            flex-direction: column-reverse;
        }
        &__left {
            width: 100%;
            .wrapper {
                max-width: 40rem;
                margin: 0 auto;
            }
        }
        &__right {
            width: 100%;
            .head-verti {
                text-align: center;
            }
        }
    }
}
.ab-store {
    &__box {
        position: relative;
        overflow: hidden;
        border-radius: var(--radius-xl);
        padding: 3.2rem;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .map {
            position: absolute;
            top: 0;
            left: 0;
            width: 55%;
            aspect-ratio: 901/1007;
            transform: translate(110%, 5%);
            &-in {
                height: 100%;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                }
            }
            
        }
        
        
    }
    &__content {
        position: relative;
        z-index: 2;
        max-width: 44rem;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        .mona-content {
            p {
                margin: 0;
            }
        }
    }
    &__btn {
        margin-top: auto;
    }
    @include max(720px) {
        &__box {
            padding: 2.4rem;
            .map {
                display: none;
            }
        }
        &__content {
            max-width: 100%;
            min-height: auto;
            text-align: center;
        }
        &__btn {
            width: fit-content;
            margin: 0 auto;
            margin-top: 2.4rem;
        }
    }
}
.ab-customer {
    &__list {
        justify-content: space-between;
        --cg:7.8rem;
        --rg:2.4rem;
        .col {
            height:6rem;
            width: fit-content;
            .img {
                height: 100%;
                width: auto;
                &-inner {
                    height: 100%;
                    
                    img {
                        height: 100%;
                        width: auto;
                        object-fit: contain;
                        display: block;
                    }
                }
            }
        }
        @include max(1300px) {
            --cg:4rem;
        }
        @include max(920px) {
            --cg:1.6rem;
            --rg:1.6rem;
            .col {
                height: 4rem;
            }
        }
        @include max(920px) {
            .col {
                height: 3.2rem;
            }
        }
    }
    &__slide {
        .swiper {
            padding: 0.1rem;
            padding-bottom: 2rem;
            &-slide {
                width: calc(100% / 3);
                overflow: visible;
                @include max(900px) {
                    width: 50%;
                }
                @include max(580px) {
                    width: 100%;
                }
            }
        }
    }
    &__box {
        @include hover {
            .inner {
                box-shadow: var(--sdow);
                border-color: transparent;
            }
        }
        .inner {
            background-color: white;
            border-radius: var(--radius-xl);
            padding: 1.6rem;
            transition: 0.4s;
            border: 0.1rem solid var(--cl-bd);
            .heads {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 0.1rem solid var(--cl-bd);
                .iwt {
                    --iz:4rem;
                    --gap:1rem;
                    .icon {
                        overflow: hidden;
                        border-radius: 50%;
                    }
                    .b-gr {
                        .name {
                            font-weight: 700;
                        }
                    }
                }
            }
            .bodies {
                .des {
                    font-weight: 600;
                    color: var(--color-pri);
                    margin-bottom: 1rem;
                }
                .bodies-imgs {
                    display: flex;
                    gap: .6rem;
                    flex-wrap: wrap;
                    .img {
                        max-width: 8.4rem;
                        width: calc(100% / 4 - .6rem/4 * 2);
                        aspect-ratio: 1;
                        border-radius: var(--radius);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                }
            }
            @include max(900px) {
                .bodies {
                    .des {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}