.ab-first {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(239, 249, 254, 0) 0%, #EFF9FE 27.18%, #EFF9FE 65.21%, rgba(239, 249, 254, 0) 99.43%);
    .sign__decs {
        @include max(768px) {
            display: none;
        }
    }
    &__title {
        max-width: 88rem;
        margin: 0 auto;
        text-align: center;

        .sub {
            @include fz-20;
            color: #FF8800;
        }

        .ttmsl {
            @include fz-40;
            text-transform: uppercase;
            font-weight: 600;
            background: linear-gradient(180deg, #1A5B2E 0%, #37C162 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .tt {
            @include fz-20;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            justify-content: center;
            font-weight: 700;
            position: relative;
            width: fit-content;
            margin: 0 auto;

            &::after {
                @include pseudo;
                aspect-ratio: 1;
                width: 20%;
                right: 100%;
                top: 0;
                background-image: url("../assets/images/dec-cugung.png");
                @include default-background;
                background-size: contain;
                transform: translateY(-25%);
            }

            img {
                width: 6em;
                object-fit: contain;
                display: block;
            }
        }

        .des {
            @include fz-20;
        }
    }

    &__item {
        height: 100%;

        .inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .img {
                &-inner {
                    @include imgPd(273, 430);
                    border-radius: var(--radius-xl);

                    img {
                        @include imgCover;
                    }
                }
            }

            .info {
                text-align: center;

                @include max(1200px) {
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__slide {
        .swiper {
            &-slide {
                @include max(900px) {
                    width: 50%;
                }

                @include max(500px) {
                    width: 100%;
                }
            }
        }
    }

    &.is-inview {
        .sign__dec {
            &:nth-child(1) {
                .in {
                    transform: translateX(-40%) scale(1);
                }
            }

            &:nth-child(2) {
                .in {
                    transform: translateX(40%) scale(1);
                }
            }
        }
    }
}

.ab-tnsm {
    &__flex {
        flex-direction: row-reverse;
    }

    &__left {
        width: calc(7/12*100%);
    }

    &__right {
        width: calc(5/12*100%);

        .wrapper {}
    }

    &__img {
        position: relative;
        aspect-ratio: 550/866;

        .img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }

            &-decs {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 2;

                .img-dec {
                    position: absolute;
                    aspect-ratio: 1/1;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        display: block;
                        animation: DownUp 2s ease-in-out infinite;
                    }

                    &:nth-child(1) {
                        right: 5%;
                        top: 20%;
                        width: 26%;

                        img {
                            animation-delay: 0s;
                        }
                    }

                    &:nth-child(2) {
                        left: 0%;
                        top: 42%;
                        width: 40%;

                        img {
                            animation-delay: 0.3s;
                        }
                    }

                    &:nth-child(3) {
                        left: 5%;
                        bottom: 5%;
                        width: 15%;

                        img {
                            animation-delay: 0.7s;
                        }
                    }

                    &:nth-child(4) {
                        right: 0;
                        bottom: 0;
                        width: 30%;

                        img {
                            animation-delay: 0.5s;
                        }
                    }

                }
            }
        }
    }

    &__cls {
        &-head {
            .txt {
                @include fz-32;
                font-weight: 600;
                text-transform: uppercase;
                color: var(--color-pri);

            }
        }

        &-body {
            .mona-content {
                strong {
                    color: var(--color-second);
                }

                @include max(1200px) {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        &-item {
            &.active {
                .ab-tnsm__cls-head {
                    .txt {
                        background: linear-gradient(180deg, #1A5B2E 0%, #37C162 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }
        }
    }

    @include max(850px) {
        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;

            .wrapper {
                max-width: 50rem;
                margin: 0 auto;
            }
        }
    }
}

.ab-three {
    overflow: hidden;
    position: relative;

    &::after {
        @include pseudo;
        aspect-ratio: 1;
        width: 20vw;
        right: 0;
        top: 0;
        background-image: url("../assets/images/dec-trau.png");
        @include default-background;
        background-size: contain;
        transform: translateX(50%);
    }

    &__flex {
        --cg: 1.6rem;
        --rg: 1.6rem;

        @include max(1200px) {
            --cg: 1.2rem;
            --rg: 1.2rem;

            .ab-three__item {
                .inner {

                    .icon {
                        width: 6rem;
                        height: 6rem;
                    }

                    .tt {
                        font-size: 1.8rem;
                    }

                    .des {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        @include max(900px) {
            .ab-three__item {
                width: 50%;

                &:last-child {
                    width: 100%;
                }
            }
        }

        @include max(600px) {
            .ab-three__item {
                width: 100%;
            }
        }
    }

    &__item {
        width: calc(100% / 3);

        .inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            text-align: center;
            transition: 0.4s;

            .icon {
                width: 12rem;
                height: 12rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .tt {
                @include fz-20;
                font-weight: 600;
                transition: 0.4s;
                color: var(--color-pri);
            }
        }
    }

    &__title {
        @include fz-40;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5em;
        color: var(--color-pri);
        margin-bottom: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;

        img {
            width: 5em;
            object-fit: contain;
            display: block;
        }

        @include max(430px) {
            @include fz-32;
        }
    }
}

.ab-care {
    .head-verti {
        max-width: unset;

        .word {
            &:last-child {
                .char {
                    &:last-child {
                        position: relative;

                        &::after {
                            @include pseudo;
                            aspect-ratio: 1;
                            width: 100%;
                            background-image: url("../assets/images/dec-trau-small.png");
                            @include default-background;
                            top: 0;
                            left: 110%;
                            visibility: visible;
                            min-width: 10rem;

                            @include max(1200px) {
                                min-width: 6rem;
                            }
                            @include max(768px) {
                                display: none;
                            }
                        }
                    }
                }
            }

        }
    }

    &__flex {}

    &__left {
        width: 50%;
    }

    &__right {
        width: 50%;

        .ab-tnsm__img {
            padding-top: 100%;
            aspect-ratio: unset;
            position: relative;

            .img-decs {
                position: absolute;
                height: 100%;
                width: 100%;

                .img-dec {
                    &:nth-child(1) {
                        top: 5%;
                        right: 15%;
                        width: 20%;
                    }

                    &:nth-child(2) {
                        top: 14%;
                        left: 10%;
                        width: 20%;
                    }

                    &:nth-child(3) {
                        bottom: 20%;
                        right: 0;
                        left: unset;
                        width: 30%;
                    }

                    &:nth-child(4) {
                        right: unset;
                        left: 25%;
                        bottom: 25%;
                        width: 15%;
                    }
                }
            }
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: 2.4rem;
        }

        .inner {
            display: flex;
            gap: 1rem;

            .icon {
                width: 7.7rem;
                height: 7.7rem;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            .content {
                &-tt {
                    @include fz-24;
                    font-weight: 700;
                    color: var(--color-pri);
                }

                &-des {
                    font-size: 1.4rem;
                }
            }

            @include max(600px) {
                .icon {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }

    @include max(940px) {
        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;

            .wrapper {
                max-width: 50rem;
                margin: 0 auto;
            }
        }
    }
}

.ab-why {
    .ab-three__title {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 2.4rem;
        &::after {
            @include pseudo;
            aspect-ratio: 1;
            min-width: 10rem;
            width: 10%;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("../assets/images/dec-bohon.png");
            @include default-background;
            background-size: contain;
            @include max(768px) {
                display: none;
            }
        }
    }
    &__table {
        border: 0.1rem solid var(--color-pri);
        border-radius: var(--radius-xl);
        overflow: hidden;
        background-image: url("../assets/images/ab-store-bg.jpg");
        @include default-background;
        
        table {
            width: calc(100% + 0.2rem);
            margin: -0.1rem;
            th,td {
                border: 0.1rem solid var(--color-pri);
                padding: 1.6rem;
                vertical-align: middle;
                @include max(768px) {
                    font-size: 1.4rem;
                    padding: .8rem;
                }
            }
            th {
                color: white;
                background-color: var(--color-pri);
            }
            tbody {
                td {
                    font-weight: 600;
                    &:nth-child(1) {
                        font-weight: 700;
                        color: var(--color-pri);
                    }
                    &:nth-child(2) {
                        color: var(--color-second);
                    }
                    &:nth-child(3) {
                        color: #666666;
                    }

                }
            }
            
        }
        @include max(650px) {
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 0rem;
            }
            table {
                min-width: 60rem;
            }
        }
    }
}

.ab-prod {
    &__flex {}

    &__left {
        width: 50%;

        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;

            .head-verti {
                @include max(1024px) {
                    display: none;
                }
            }

            .img {
                margin-top: auto;

                .img-inner {
                    width: 100%;
                    height: auto;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        display: block;
                    }
                }
            }
        }
    }

    &__right {
        width: 50%;

        .wrapper {
            .head-verti {
                @include min(1025px) {
                    display: none;
                }
            }
        }
    }

    &__blocks {}

    &__block {
        &:not(:last-child) {
            border-bottom: 0.1rem solid var(--cl-bd);
        }

        .inner {
            padding: 3.2rem 0;
            display: flex;
            gap: 1rem;

            .icon {
                width: 4.8rem;
                height: 4.8rem;
                flex-shrink: 0;

                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                    object-fit: contain;
                }
            }

            .content {
                .tt {
                    @include fz-24;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .mona-content {
                    p {
                        margin: 0;
                    }
                }
            }
        }

        @include max(1200px) {
            .inner {
                padding: 1rem 0;

                .content {
                    .tt {
                        font-size: 1.6rem;
                    }

                    .mona-content {
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    @include max(1024px) {
        &__flex {
            flex-direction: column-reverse;
        }

        &__left {
            width: 100%;

            .wrapper {
                max-width: 40rem;
                margin: 0 auto;
            }
        }

        &__right {
            width: 100%;

            .head-verti {
                text-align: center;
            }
        }
    }
}

.ab-store {
    &__box {
        position: relative;
        overflow: hidden;
        border-radius: var(--radius-xl);
        padding: 3.2rem;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .map {
            position: absolute;
            top: 0;
            left: 0;
            width: 55%;
            aspect-ratio: 901/1007;
            transform: translate(110%, 5%);

            &-in {
                height: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

        }


    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: 44rem;
        min-height: 40rem;
        display: flex;
        flex-direction: column;

        .mona-content {
            p {
                margin: 0;
            }
        }
    }

    &__btn {
        margin-top: auto;
    }

    @include max(720px) {
        &__box {
            padding: 2.4rem;

            .map {
                display: none;
            }
        }

        &__content {
            max-width: 100%;
            min-height: auto;
            text-align: center;
        }

        &__btn {
            width: fit-content;
            margin: 0 auto;
            margin-top: 2.4rem;
        }
    }
}

.ab-customer {
    &__list {
        justify-content: space-between;
        --cg: 7.8rem;
        --rg: 2.4rem;

        .col {
            height: 6rem;
            width: fit-content;

            .img {
                height: 100%;
                width: auto;

                &-inner {
                    height: 100%;

                    img {
                        height: 100%;
                        width: auto;
                        object-fit: contain;
                        display: block;
                    }
                }
            }
        }

        @include max(1300px) {
            --cg: 4rem;
        }

        @include max(920px) {
            --cg: 1.6rem;
            --rg: 1.6rem;

            .col {
                height: 4rem;
            }
        }

        @include max(920px) {
            .col {
                height: 3.2rem;
            }
        }
    }

    &__slide {
        .swiper {
            padding: 0.1rem;
            padding-bottom: 2rem;

            &-slide {
                width: calc(100% / 3);
                overflow: visible;

                @include max(900px) {
                    width: 50%;
                }

                @include max(580px) {
                    width: 100%;
                }
            }
        }
    }

    &__box {
        height: 100%;

        @include hover {
            .inner {
                box-shadow: var(--sdow);
                border-color: transparent;
            }
        }

        .inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: var(--radius-xl);
            padding: 1.6rem;
            transition: 0.4s;
            border: 0.1rem solid var(--cl-bd);

            .heads {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 0.1rem solid var(--cl-bd);

                .iwt {
                    --iz: 4rem;
                    --gap: 1rem;

                    .icon {
                        overflow: hidden;
                        border-radius: 50%;
                    }

                    .b-gr {
                        .name {
                            font-weight: 700;
                        }
                    }
                }
            }

            .bodies {
                display: flex;
                flex-direction: column;
                height: 100%;

                .des {
                    font-weight: 600;
                    color: var(--color-pri);
                    margin-bottom: 1rem;
                }

                .bodies-imgs {
                    display: flex;
                    gap: .6rem;
                    flex-wrap: wrap;
                    margin-top: auto;

                    .img {
                        max-width: 8.4rem;
                        width: calc(100% / 4 - .6rem/4 * 2);
                        aspect-ratio: 1;
                        border-radius: var(--radius);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                }
            }

            @include max(900px) {
                .bodies {
                    .des {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

.ab-commit {
    .ab-three__title {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 2.4rem;
        &::after {
            @include pseudo;
            aspect-ratio: 1;
            min-width: 10rem;
            width: 10%;
            left: 105%;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("../assets/images/dec-rauma-small.png");
            @include default-background;
            background-size: contain;
            @include max(768px) {
                display: none;
            }
        }
    }
    &__slide {
        .swiper {
            &-slide {
                width: calc(100% / 3);
                @include max(650px) {
                    width: 50%;
                }
            }
        }
    }
    &__item {
        height: 100%;
        .inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            .img {
                margin-bottom: 1rem;
                &-inner {
                    @include imgPd(429.33,418);
                    img {
                        @include imgContain;
                    }
                }
            }
            .info {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                &-tt {
                    @include fz-20;
                    color: var(--color-pri);
                    font-weight: 700;
                }
                @include max(500px) {
                    &-tt {
                        font-size: 1.6rem;
                    }
                    &-des {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
.ab-brand {
    &__box {
        padding: var(--pd-42);
        background-color: #EAFFF5;
        border-radius: var(--radius-xl);
    }
}