// News
.news-blog {
    &__head {
        .head-hori {
            @include max(1200px) {
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}

.news-dt {
    &__head {
        .sub {
            color: var(--color-pri);
            font-weight: 600;
        }

        .title-40 {
            color: var(--color-text);
        }

        .author {
            color: var(--color-des);
            text-transform: uppercase;

            &__name {
                margin-right: 2rem;
            }
        }
    }

    &__title {
        @include fz-20;
        font-weight: 700;
        color: var(--color-pri);
    }

    &__bottom {
        border-top: 0.1rem solid var(--cl-bd);
        padding-top: 2.4rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5rem 1rem;

        .txt {
            color: var(--color-des);
        }
    }

    &__list {
        @include max(1200px) {
            .col {
                width: calc(100% / 3);

                @include max(900px) {
                    width: calc(100% / 3);
                }

                @include max(650px) {
                    width: 50%;
                }

                @include max(390px) {
                    width: 100%;
                }
            }
        }
    }
}

// Policy
.policy {
    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .menu-item {}

        .menu-link {
            transition: 0.4s;
            text-transform: uppercase;

            @include hover {
                color: var(--color-pri);
            }
        }
    }
}

// Contact
.page-contact {
    .sec-breadcrumb {
        .breadcrumb {
            margin-bottom: 0;
        }
    }
}

.contact-map {
    &__frame {
        height: calc(600/1512*100vw);

        iframe {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.contact-info {
    &__flex {}

    &__left {
        width: 50%;
        --pd: 2rem;

        @include max(1200px) {
            --pd: 1rem;
        }

        .wrapper {
            .flex {
                .col {
                    width: 50%;
                }
            }
        }
    }

    &__right {
        width: 50%;
    }

    &__item {
        height: 100%;

        .inner {
            height: inherit;
            padding: var(--pd);
            border: 0.1rem solid var(--cl-bd);
            border-radius: var(--radius);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            min-height: 29rem;
            transition: 0.4s;

            @include hover {
                border-color: var(--color-third);
                background-color: var(--color-third);
            }

            .icon {
                width: 4.8rem;
                height: 4.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .8rem;
                background-color: var(--color-pri);

                img {
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    display: block;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &-tt {
                    @include fz-20;
                    font-weight: 700;
                }

                &-des {
                    color: var(--color-des);
                }

                .b-gr {
                    display: flex;
                    flex-direction: column;
                }

                &-link {
                    color: var(--color-pri);
                    font-weight: 600;
                }
            }

            @include max(500px) {
                min-height: 10rem;

                .icon {
                    width: 3.2rem;
                    height: 3.2rem;

                    img {
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
            }
        }
    }

    &__form {
        .form {
            &-ip {
                textarea {
                    @include min(1001px) {
                        min-height: 23.4rem;
                    }
                }
            }
        }
    }

    @include max(1000px) {
        &__flex {
            flex-direction: column-reverse;
        }

        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;

            .form {
                &-list {
                    --cg: 0.8rem;
                    --rg: 0.8rem;
                }

            }

            @include max(500px) {
                .btn-box {
                    width: 100%;

                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// Sign
body:has(.page-sign),
body:has(.page-order),
body:has(.page-store) {
    background: linear-gradient(180deg, rgba(239, 249, 254, 0) 15.44%, #EFF9FE 34.55%, #EFF9FE 61.27%, rgba(239, 249, 254, 0) 65.94%), #FFFFFF;
}

.page-sign {
    overflow: hidden;

}

.sign {
    position: relative;

    &__decs {}

    &__dec {
        position: absolute;
        aspect-ratio: 1;
        width: 25vw;
        top: 50%;
        transform: translateY(-50%);
        min-width: 10rem;

        .in {
            height: 100%;
            width: 100%;
            transition: 0.8s;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                display: block;
            }
        }

        &:nth-child(1) {
            left: 0;

            .in {
                transform: translateX(-40%) scale(0);
                transform-origin: left center;
            }
        }

        &:nth-child(2) {
            right: 0;

            .in {
                transform: translateX(40%) scale(0);
                transform-origin: right center;
            }
        }
    }

    &__form {
        &-flex {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem 1rem;
            justify-content: space-between;
        }

        &-link {
            color: #666666;
            transition: 0.4s;

            @include hover {
                color: var(--color-pri);
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }

    &__box {
        padding: var(--pd-42);
        overflow: hidden;
        background-color: white;
        border-radius: var(--radius-xl);
        max-width: 66.3rem;
        margin: 0 auto;
        position: relative;
        box-shadow: var(--sdow);

        .dec {
            position: absolute;
            top: 0;
            left: 0;
            aspect-ratio: 1;
            width: 20%;
            transform: translate(-40%, -40%);
        }
    }

    &.is-inview {
        .sign__dec {
            &:nth-child(1) {
                .in {
                    transform: translateX(-40%) scale(1);
                }
            }

            &:nth-child(2) {
                .in {
                    transform: translateX(40%) scale(1);
                }
            }
        }
    }
}

// Order Find
.sec-order-find {
    .sec-homes-vct {
        background: transparent;

        .sign__box {
            width: 100%;

            @include min(801px) {
                margin-right: 0;
            }

            .form-ip {
                .text {
                    display: none;
                }
            }
        }
    }
}

// Order Status
.order-status {
    &__back {
        .iwt {
            --iz: 4rem;
            @include fz-40;
            --cl: var(--color-des);
            text-transform: uppercase;

            .txt {
                .txt-pri {
                    color: var(--color-pri);
                    font-weight: 600;
                }
            }

            @include max(430px) {
                @include fz-20;
                --iz: 2rem;
            }
        }
    }

    &__flex {
        --w-side: 43.5rem;
        --pd: 3.2rem;

        @include max(1200px) {
            --pd: 1.6rem;
        }
    }

    &__left {
        flex: 1;

        .wrapper {
            background-color: white;
            border-radius: var(--radius-xl);
            padding: var(--pd);
        }
    }

    &__right {
        width: var(--w-side);
    }

    &__title {
        @include fz-24;
        font-weight: 700;
        color: var(--color-pri);
        text-transform: uppercase;
        margin-bottom: 1.4rem;
    }

    &__info {
        &-flex {
            --cg: 1.6rem;
            --rg: 1.6rem;

            .col {
                &:nth-child(odd) {
                    width: 26.4rem;
                }

                &:nth-child(even) {
                    width: calc(100% - 26.4rem);
                }

                @include max(580px) {
                    &:nth-child(n+1) {
                        width: 100%;
                    }
                }
            }
        }

        &-item {
            .name {
                color: var(--color-des);
            }

            .val {
                color: black;
                font-weight: 600;

            }
        }
    }

    &__status {
        --cl: #F48120;
        position: relative;
        color: var(--cl);
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &::before {
            content: '';
            display: inline-block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background-color: var(--cl);
        }

        &.process {
            --cl: #F48120;
        }

        &.complete {
            --cl: #007C7C;
        }

        &.cancel {
            --cl: #FE2858;
        }
    }

    @include max(1000px) {
        &__flex {
            flex-direction: column;
        }

        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;
        }
    }
}

.order-box {
    background-color: white;
    padding: 1.6rem;
    border-radius: var(--radius-xl);

    &__title {
        @include fz-24;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__block {
        padding: 1.6rem;
        border-radius: 1.6rem;
        border: 0.1rem solid var(--color-second);

        .heads {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            text-transform: uppercase;
            color: var(--color-pri);
            font-weight: 600;

            .txt {
                &-sup {
                    font-size: 0.6em;
                    vertical-align: super;
                }
            }

            .icon {
                width: 1.6rem;
                height: 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.2rem;
                }
            }
        }

        .bodies {
            table {
                tbody {
                    font-size: 1.4rem;

                    tr {
                        td {
                            padding: 0.5rem 0;

                            .txt {
                                @include lc(1);
                                font-weight: 700;
                                color: black;
                            }

                            &:nth-child(2) {
                                width: 2rem;
                                color: var(--color-second);
                                font-weight: 600;
                                padding-left: 1.5rem;
                            }

                            &:nth-child(3) {
                                width: 10rem;
                                text-align: right;
                                font-weight: 600;
                            }

                        }
                    }
                }
            }
        }
    }

    &__totals {
        padding-top: 1.6rem;
        margin-top: 1.6rem;
        border-top: 0.1rem solid var(--cl-bd);
    }

    &__total {
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .txt {
            display: flex;
            gap: .5rem;
        }

        .val {
            font-weight: 600;
        }

        &.total {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 0.1rem solid var(--cl-bd);
            align-items: center;

            .val {
                @include fz-20;
                font-weight: 700;
            }
        }
    }
}

// Store System
.store-system {
    &__filter {
        padding: var(--pd-42);
        overflow: hidden;
        border-radius: var(--radius-xl);
        position: relative;
        margin-bottom: 2.4rem;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .form-list {
            .col {
                width: calc(100% / 3);

                @include max(800px) {
                    &:nth-child(1) {
                        width: 100%;
                    }

                    &:nth-child(n+2) {
                        width: calc(100% / 2);
                    }
                }

                @include max(430px) {
                    &:nth-child(n+1) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__left {
        width: calc(5/12*100%);
    }

    &__right {
        width: calc(7/12*100%);

        .wrapper {
            height: 100%;
        }
    }

    &__box {}

    &__title {
        padding: 2rem 1.6rem;
        position: relative;
        color: white;
        text-transform: uppercase;
        font-weight: 700;

        &::after {
            @include pseudo;
            height: 120%;
            width: 100%;
            z-index: -1;
            border-radius: var(--radius-xl) var(--radius-xl) 0 0;
            background: var(--linear-second);
            top: 0;
            left: 0;
        }
    }

    &__list {
        padding: 1.6rem;
        background-color: white;
        border-radius: var(--radius-xl);
    }

    &__item {
        .inner {
            .tt {
                font-weight: 600;
                text-transform: uppercase;
                color: var(--color-pri);
                padding-left: 1.5rem;
                border-left: 0.2rem solid var(--color-pri);
                margin-bottom: 1rem;
            }

            padding: 1.6rem 0;

            .list {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &-item {
                    .iwt {
                        --iz: 2rem;
                        --gap: .5rem;
                        --cl: black;
                    }
                }
            }
        }

        &:not(:last-child) {
            .inner {
                border-bottom: 0.1rem solid var(--cl-bd);
            }
        }

        &:first-child {
            .inner {
                padding-top: 0;
            }
        }

        &:last-child {
            .inner {
                padding-bottom: 0;
            }
        }

    }

    &__map {
        height: 100%;
        border-radius: var(--radius-xl);
        overflow: hidden;
        min-height: 40rem;

        iframe {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    @include max(768px) {
        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;
        }
    }
}

// Acc Info
.acc {
    &__flex {
        --w-side: 32rem;

        @include max(1000px) {
            &:has(.acc__manadt-order) {
                .acc__left {
                    width: 100%;

                    .acc__box {
                        flex-direction: row;
                        overflow-x: auto;
                        max-width: 100%;
                        width: max-content;

                        &::-webkit-scrollbar {
                            height: 0;
                        }

                        &-item {
                            padding: .4rem .8rem;
                            flex-shrink: 0;

                            .iwt {
                                --iz: 1.6rem;
                                --gap: .5rem;
                            }
                        }
                    }
                }

                .acc__right {
                    width: 100%;

                    .acc__manadt-order {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__left {
        width: var(--w-side);

        .wrapper {
            position: sticky;
            top: calc(var(--size-hd) + 2.4rem);

            @include max(1200px) {
                top: 11rem;
            }
        }
    }

    &__right {
        width: calc(100% - var(--w-side));
    }

    &__box {
        background: var(--linear-second);
        padding: .8rem;
        border-radius: var(--radius-xl);
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        &-item {
            padding: 1.3rem 1.6rem;
            border-radius: calc(var(--radius-xl) - .7rem);
            display: block;

            .iwt {
                --fz: 1.6rem;
                --cl: white;
                --gap: 1.2rem;
                --iz: 2.4rem;
            }

            &.active {
                background-color: white;

                .iwt {
                    .icon {
                        img {
                            filter: var(--filter-pri);
                        }
                    }

                    .txt {
                        color: var(--color-pri);
                    }
                }
            }

            @include hover {
                background-color: white;

                .iwt {
                    .icon {
                        img {
                            filter: var(--filter-pri);
                        }
                    }

                    .txt {
                        color: var(--color-pri);
                    }
                }
            }
        }
    }

    &__heads {
        display: flex;
        gap: .5rem 2.4rem;
        // margin-bottom: 1rem;

        &-item {
            @include fz-32;
            text-transform: uppercase;
            font-weight: 600;
            color: #666666;
            transition: 0.4s;

            &.active {
                color: var(--color-pri);
            }

            @include hover {
                color: var(--color-pri);
            }

            @include max(900px) {
                @include fz-20;
            }
        }

        @include max(768px) {
            gap: 1rem;
        }
    }

    &__headline {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 2.4rem;

        @include max(970px) {
            .btn {
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .txt {
                    padding: 0;

                    .txt-inner {
                        display: none;
                    }
                }
            }
        }

        .order-status__back {
            .iwt {
                @include fz-32;
                --iz: 3.2rem
            }
        }
    }

    &__contents {
        &:has(.pwd) {
            .form-ip {
                max-width: 66.4rem;
            }
        }

        @include max(430px) {
            .form-ip {
                .btn-box {
                    width: 100%;

                    .btn {
                        width: 100%;
                        height: 4.8rem;
                    }
                }
            }
        }

        .flex {
            .col {
                @include max(1200px) {
                    width: calc(100% / 3);
                }

                @include max(940px) {
                    width: 50%;
                }

                @include max(430px) {
                    width: 100%;
                }
            }
        }
    }

    &__info {
        &-flex {
            display: flex;
            gap: .5rem 2rem;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-choose {
            display: flex;
            align-items: center;
            gap: .5rem;

            &-boxes {
                display: flex;
                gap: .5rem;
            }

            &-box {
                padding: .8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.1rem solid var(--cl-bd);
                border-radius: .8rem;
                cursor: pointer;

                input {
                    display: none;
                }

                &:has(input:checked) {
                    background-color: var(--color-pri);
                    border-color: var(--color-pri);
                    color: white;
                }
            }
        }

        &-switch {
            display: flex;
            gap: .5rem;
            align-items: center;
            cursor: pointer;

            input {
                display: none;
            }

            &-box {
                width: 3.6rem;
                height: 2rem;
                border-radius: 100rem;
                background-color: var(--cl-bd);
                position: relative;
                padding: 0.2rem;
                flex-shrink: 0;
                transition: 0.4s;

                &::after {
                    @include pseudo;
                    width: 1.6rem;
                    height: 1.6rem;
                    background-color: #666666;
                    border-radius: 100rem;
                    transition: 0.4s;
                }
            }

            &:has(input:checked) {
                .acc__info-switch-box {
                    background-color: var(--color-second);

                    &::after {
                        transform: translateX(1.6rem);
                        background-color: white;
                    }
                }
            }
        }
    }

    @include max(768px) {
        &__box {
            flex-direction: row;
            overflow-x: auto;
            max-width: 100%;

            &::-webkit-scrollbar {
                height: 0;
            }

            &-item {
                padding: .4rem .8rem;
                flex-shrink: 0;

                .iwt {
                    --iz: 1.6rem;
                    --gap: .5rem;
                }
            }
        }

        &__flex {
            --w-side: 100%;
        }

        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;
        }
    }

    // 
    &__address {
        &-item {
            &:not(:first-child) {
                margin-top: 2.4rem;

                @include max(768px) {
                    margin-top: 1rem;
                }
            }

            .inner {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                padding: 1.6rem;
                border: 0.1rem solid var(--cl-bd);
                border-radius: .4rem;

                .inner-left {
                    .name {
                        color: var(--color-pri);
                        font-weight: 600;
                    }

                    .des {
                        @include fz-20;
                        font-weight: 600;
                    }
                }

                .inner-right {
                    display: flex;
                    gap: 1rem;

                    .inner-btn {
                        width: 1.6rem;
                        height: 1.6rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }

                        @include hover {
                            img {
                                filter: var(--filter-pri);
                            }
                        }
                    }
                }
            }
        }
    }

    &__manage {
        table {
            width: 100%;

            th,
            td {
                text-align: left;
                padding: 1.6rem;
                padding-left: 0;
                padding-right: 1rem;
                vertical-align: middle;

                &:last-child {
                    width: 5.6rem;

                    @include max(600px) {
                        width: 3rem;
                    }
                }

                &:nth-last-child(2) {
                    width: 12rem;

                    @include max(600px) {
                        width: 9rem;
                    }
                }

                &:has(.link) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .link {
                    width: 2.4rem;
                    height: 2.4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        display: block;
                    }

                    @include hover {
                        img {
                            filter: var(--filter-pri);
                        }
                    }
                }

                @include max(600px) {
                    font-size: 1.4rem;
                    padding: .5rem;
                    padding-right: .5rem;
                }
            }

            td {
                padding: 2rem 0;
                padding-right: 1rem;

                @include max(600px) {
                    padding: .5rem 0;
                    padding-right: .5rem;
                }
            }

            thead {
                tr {
                    border-bottom: 0.1rem solid var(--cl-bd);

                    th {
                        @include fz-14;
                    }
                }
            }

            tbody {
                tr {
                    &:not(:last-child) {
                        border-bottom: 0.1rem solid var(--cl-bd);
                    }

                    transition: 0.4s;

                    @include hover {
                        border-color: var(--color-pri);
                    }

                    td {}
                }
            }
        }

        &-filter {
            display: flex;
            align-items: center;
            gap: 1rem;

            .select {
                height: auto;
                min-width: 12rem;

                .select2-container {
                    height: auto !important;
                }

                .select2-container .select2-selection--single .select2-selection__rendered {
                    padding: 0 !important;
                    padding-right: 3rem !important;
                    border: none !important;
                }

                .select2-container--default .select2-selection--single {
                    border: none !important;
                }
            }

            @include max(600px) {
                .txt {
                    display: none;
                }
            }
        }

        &-table {
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 0.2rem;
            }

            @include max(600px) {
                table {
                    min-width: 42.4rem;
                }
            }
        }
    }

    &__manadt {
        padding: var(--pd-42);
        border-radius: var(--radius-xl);
        background-color: white;
        box-shadow: var(--sdow);

        &-head {
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            .title-40 {
                font-weight: 600;
                color: var(--color-text);

                @include max(1000px) {
                    @include fz-24;
                }
            }
        }

        &-body {}

        &-box {
            padding: 1.6rem 0;

            &:not(:first-child) {
                border-top: 0.1rem solid var(--cl-bd);
            }
        }

        &-order {
            padding: 1.6rem;
            border-radius: var(--radius-xl);
            border: 0.1rem solid var(--color-second);
        }

        &-title {
            @include fz-24;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 1rem;

            .sup {
                font-size: 0.7em;
                vertical-align: super;
                color: var(--color-pri);
            }

        }

        &-info {
            .lines {
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                @include max(600px) {
                    font-size: 1.4rem;
                }

                .name {
                    color: #666666;
                }

                .val {
                    font-weight: 600;
                    text-align: right;
                }

                &.green {
                    .val {
                        color: var(--color-pri);
                    }
                }
            }
        }

        &-table {
            table {
                width: 100%;

                th {
                    text-transform: uppercase;
                    border-bottom: 0.1rem solid var(--cl-bd);
                    font-weight: 400;
                }

                td {}

                th,
                td {
                    text-align: left;
                    padding: 1.6rem;
                    padding-left: 0;
                    vertical-align: middle;
                    font-weight: 600;

                    &:nth-child(n + 2) {
                        white-space: nowrap
                    }
                }

                tbody {
                    tr {
                        &:not(:last-child) {
                            td {
                                border-bottom: 0.1rem solid var(--cl-bd);
                            }
                        }
                    }
                }

                @include max(700px) {
                    font-size: 1.4rem;

                    th,
                    td {
                        padding: .5rem;
                        padding-left: 0;
                    }
                }

                @include max(600px) {
                    thead {
                        display: none;
                    }

                    tbody {
                        td {
                            display: flex;
                            gap: .5rem;
                            justify-content: space-between;
                            border: none !important;

                            &::before {
                                content: attr(data-label);
                                display: block;
                                font-weight: 700;
                                color: var(--color-pri);
                                white-space: nowrap;
                            }

                            &:first-child {
                                &::before {
                                    display: none;
                                }
                            }
                        }

                        tr {
                            &:not(:last-child) {
                                border-bottom: 0.1rem solid var(--color-pri);
                            }
                        }
                    }
                }

                @include max(430px) {
                    tbody {
                        tr {
                            td {
                                .miniCart-item.v2 {
                                    .inner {
                                        flex-direction: column;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Order
.order {
    &__flex {
        --w-side: 43.5rem;
    }

    &__left {
        width: calc(100% - var(--w-side));

        .acc__manadt-table {
            table {
                tbody {
                    tr {
                        position: relative;

                        @include min(601px) {
                            td:nth-child(2) {
                                width: 11rem;
                            }

                            td:nth-child(3) {
                                width: 10rem;
                            }

                            td:last-child {
                                width: 3.4rem;
                            }
                        }

                        @include max(600px) {
                            td:last-child {
                                padding: 0;

                                .remove {
                                    position: absolute;
                                    top: 0.5rem;
                                    right: 0;
                                    width: 1.6rem;
                                    height: 1.6rem;
                                    border-radius: 100rem;
                                    background-color: red;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        filter: brightness(0) invert(1);
                                        width: 80% !important;
                                        height: 80% !important;
                                    }
                                }
                            }
                        }

                        td:last-child {
                            .remove {
                                width: 2.4rem;
                                height: 2.4rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
            }
        }

        .wrapper {
            @include min(1001px) {
                position: sticky;
                top: 7rem;
            }
        }
    }

    &__right {
        width: var(--w-side);
    }

    &__cart {
        &-bodies {
            background-color: white;
            box-shadow: var(--sdow);
            padding: 1.6rem;
            border-radius: var(--radius-xl);

            .order-box__totals {}
        }

        .acc__manadt-title {
            @include fz-20;
        }

        &-title {
            font-weight: 600;
            color: var(--color-pri);
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        &-vcher {
            padding-top: 1rem;
            border-top: 0.1rem solid var(--cl-bd);

            .homes-vcher__slide {
                mask-image: linear-gradient(to right, black 95%, rgba(0, 0, 0, 0) 100%);

                .swiper {
                    &-slide {
                        width: calc(100% / 1.2);
                    }
                }
            }
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.6rem;
            position: relative;

            &::after {
                @include pseudo;
                width: 100%;
                height: 150%;
                bottom: 0;
                left: 0;
                background: var(--linear-second);
                z-index: -1;
                border-radius: 0 0 var(--radius-xl) var(--radius-xl);
            }

            .iwt {
                --fz: 1.6rem;
                --iz: 2rem;
                --cl: white;
            }
        }

        &-method {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            border-top: 0.1rem solid var(--cl-bd);
            margin-top: 1.6rem;
            padding-top: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &-item {
                opacity: 0.5;
                transition: 0.4s;

                &:has(input:checked) {
                    opacity: 1;
                }

                .checker {
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .sqr {
                        transform: translateY(0rem);
                    }
                }
            }

            &-drop {
                overflow: hidden;
                background-color: white;
                border-radius: var(--radius-xl);
                box-shadow: var(--sdow);
                padding: 1.6rem;
                margin-top: 1rem;

                .flex {
                    display: flex;

                    @include max(450px) {
                        flex-direction: column;
                    }
                }
            }

            &-part {
                font-size: 1.4rem;

                table {
                    width: 100%;

                    tbody {
                        tr {
                            td {
                                padding: .4rem 0;

                                &:first-child {
                                    padding-right: 0.5rem;
                                    color: #666666;
                                }

                                &:last-child {
                                    font-weight: 600;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    width: 9.4rem;

                    .img {
                        &-inner {
                            @include imgPd(1, 1);

                            img {
                                @include imgContain
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    flex: 1;
                }
            }
        }
    }

    @include max(1000px) {
        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;

            .order__cart-vcher {
                .homes-vcher__slide {
                    .swiper {
                        .col {
                            width: calc(100% /2.5);
                        }
                    }
                }
            }
        }
    }

    @include max(1000px) {
        &__right {
            .order__cart-vcher {
                .homes-vcher__slide {
                    .swiper {
                        .col {
                            width: calc(100% /2);
                        }
                    }
                }
            }
        }
    }

    @include max(620px) {
        &__right {
            .order__cart-vcher {
                .homes-vcher__slide {
                    .swiper {
                        .col {
                            width: calc(100% /1.2);
                        }
                    }
                }
            }
        }
    }

}

// Payment Success
.page-pay {
    overflow: hidden;
}

.pay-suc {
    position: relative;

    &.is-inview {
        .sign__dec {
            &:nth-child(1) {
                .in {
                    transform: translateX(-40%) scale(1);
                }
            }

            &:nth-child(2) {
                .in {
                    transform: translateX(40%) scale(1);
                }
            }
        }
    }

    &__title {
        .icon {
            width: 6rem;
            height: 6rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }

        .title {
            color: var(--color-text);

            .txt-pri {
                color: var(--color-pri);
            }
        }
    }

    &__content {
        max-width: 80rem;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        .order-box__block {
            background-color: white;
        }
    }

    &__info {
        margin-top: 2.4rem;

        .row {
            --cg: 0.8rem;
            --rg: 0.8rem;
            justify-content: space-between;
        }

        &-item {
            width: fit-content;

            .inner {
                display: flex;
                flex-direction: column;

                .name {
                    font-size: 1.4rem;
                    color: var(--color-des);
                }

                .val {
                    @include fz-20;
                    font-weight: 700;
                    color: var(--color-pri);
                }
            }

            @include max(600px) {
                width: 50%;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2.4rem;
        gap: .5rem 1rem;
    }
}

// 404
.page-404 {
    background: linear-gradient(180deg, rgba(239, 249, 254, 0) 0%, #EFF9FE 40.68%, #EFF9FE 65.1%, rgba(239, 249, 254, 0) 94.46%), #FFFFFF;
}

.error {
    &__box {
        position: relative;
        max-width: 72rem;
        margin: 0 auto;

        .box-leaf {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        .bg {
            width: 100%;
            margin-bottom: -20%;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }
    }

    &__content {
        .head-verti {
            .title {
                color: var(--color-second);
            }

            .mona-content {
                p {
                    margin: 0;
                }
            }
        }
    }
}

// 