.prod-list {
    &-title {
        @include fz-32;
        font-weight: 900;
        text-transform: uppercase;
    }

    &-cate {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: .8rem;
        max-width: 80rem;
        width: 100%;

        .txt {
            margin-right: 1re;
        }

        .swiper {
            padding-top: 0.1rem;
            --cg: 0.8rem;
            --rg: 0.8rem;

            &-slide {
                width: max-content;
                overflow: visible;
            }
        }
    }

    &-ajs {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    &-aj {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: .5rem 1rem;
        border-radius: 100rem;
        background-color: #F5F5F5;
        transition: 0.4s;

        @include hover {
            background-color: var(--color-text);
            color: white;
        }

        &.active {
            background-color: var(--color-text);
            color: white;
        }
    }

    &-heads {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .1rem 2.4rem;
        margin-bottom: 2.4rem;

        @include max(900px) {
            gap: 2.4rem;
        }
    }

    &-flex {
        display: flex;
        --w-side: 22.8rem;

        .wrapper {
            padding: 4rem 0;
        }
    }

    &-side {
        width: var(--w-side);
        flex-shrink: 0;
        padding-right: 2.4rem;

        @include min(1201px) {
            height: 100%;
            top: var(--size-hd);
            position: sticky;
            overflow: hidden;
            overflow-y: auto;
            max-height: calc(100vh - var(--size-hd));
        }

        .wrapper {
            @include max(1200px) {
                padding-top: 0;
            }
        }
    }

    &-main {
        flex: 1;
        padding-left: 2.4rem;
        border-left: 0.1rem solid var(--cl-bd);

        .side-open {
            top: 20%;
        }
    }

    @include max(1200px) {
        &-flex {
            flex-direction: column;
        }

        &-side {
            width: 100%;
        }

        &-main {
            padding-left: 0;
            width: 100%;
            border-left: none;
        }
    }

    @include max(900px) {
        .prod-list-heads {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    @include max(500px) {
        .prod-list-cate {
            .txt {
                display: none;
            }

            .prod-list-ajs {
                justify-content: center;
            }
        }
    }
}

.prod-all {
    .flex {
        .col {
            width: 25%;

            @include max(860px) {
                width: 25%;
            }

            @include max(768px) {
                width: calc(100%/3);
            }

            @include max(560px) {
                width: 50%;
            }
        }

        // &:has(.km) {
        //     .col {
        //         width: 25%;

        //         @include max(768px) {
        //             width: calc(100%/3);
        //         }

        //         @include max(560px) {
        //             width: 50%;
        //         }
        //     }
        // }
    }

    &-pagi {
        margin-top: 2.4rem;
    }
}

.prod-review {
    &-slide {
        .swiper {
            .col {
                width: 20%;

                @include max(860px) {
                    width: 25%;
                }

                @include max(768px) {
                    width: calc(100%/3);
                }

                @include max(560px) {
                    width: 50%;
                }
            }
        }
    }
}

.prod-heads {
    padding-bottom: 2.4rem;
    border-bottom: 0.3rem solid var(--color-text);
    margin-bottom: 2.4rem;

}


.prod-filter {
    .box-tags {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        &.active {
            +.pros-tag-btn {
                display: flex !important;
            }
        }
    }

    .box-tag {
        padding: .5rem 1rem;
        background-color: #F5F5F5;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 100rem;

        .icon-remove {
            margin-left: 0.5rem;
            font-weight: 700;
            cursor: pointer;
        }
    }

    .pros-tag-group {
        margin-bottom: 2.4rem;
    }

    .pros-tag-btn {
        display: none;
        color: var(--color-pri);
        margin-top: 1rem;
        cursor: pointer;
    }

    .b-title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        display: block;
    }

    .b-srch {
        margin-bottom: 1rem;

        input {
            width: 100%;
            height: 4.8rem;
            border-radius: var(--radius);
            border: 0.1rem solid var(--cl-bd);
            padding: 0 1.6rem;

            &:focus {
                border-color: var(--color-pri);
            }
        }
    }

    .b-control {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        padding-top: 2.4rem;
    }

    .t-txt {
        font-weight: 700;
        text-transform: uppercase;
    }

    .ck-list {
        .ck-it {
            input {
                display: none;
            }

            .t-text {
                text-transform: uppercase;
                opacity: 0.5;
                transition: 0.4s;
            }

            @include hover {
                .t-text {
                    opacity: 1;
                }
            }

            .ck-label {
                cursor: pointer;

                &:has(input:checked) {
                    .ck-color {
                        border-color: var(--color-text);
                    }

                    .t-text {
                        opacity: 1;
                    }
                }
            }

            .ck-color {
                display: block;
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 100rem;
                flex-shrink: 0;
                background-color: var(--data-color);
                border: 0.2rem solid var(--cl-bd);
            }
        }
    }

    .b-box.size {
        .ck-list {
            .ck-it {
                .t-text {
                    width: 4.7rem;
                    height: 3.2rem;
                    border-radius: var(--radius);
                    border: 0.1rem solid var(--cl-bd);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                }

                .ck-label {
                    &:has(input:checked) {
                        .t-text {
                            border-color: var(--color-text);
                            background-color: var(--color-text);
                            color: white;
                        }
                    }
                }
            }
        }

        .ck-list {
            display: flex;
            flex-wrap: wrap;
            gap: .4rem;
        }
    }

    .b-box.color {
        .ck-list {
            display: flex;
            flex-wrap: wrap;
            gap: .8rem;
        }
    }

    .b-box.nation {
        .ck-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .ck-it {
                display: flex;
                gap: .8rem;
                position: relative;

                &::before {
                    content: "";
                    width: 2.4rem;
                    height: 2.4rem;
                    flex-shrink: 0;
                    background-image: url("../assets/images/uncheck.svg");
                    @include default-background;
                    display: block;
                }

                &::after {
                    @include pseudo;
                    width: 2.4rem;
                    height: 2.4rem;
                    flex-shrink: 0;
                    background-image: url("../assets/images/checked.svg");
                    @include default-background;
                    left: 0;
                    top: 0;
                    opacity: 0;
                }

                &:has(input:checked) {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .b-box {
        border-bottom: 0.1rem solid var(--cl-bd);
        padding-bottom: 2.4rem;
    }
}

.woocommerce div.product .prod-dt .price .price-ins ins {
    font-weight: 700 !important;
}

.prod-dt {
    &-block {
        &:not(:last-child) {
            margin-bottom: 2.4rem;
            border-bottom: 0.1rem solid var(--cl-bd);
            padding-bottom: 2.4rem;
        }
    }

    &-flex {
        border-bottom: 0.1rem solid var(--color-text);
    }

    &-images {
        width: 67rem;
        height: 100%;

        @include min(631px) {
            position: sticky;
            top: calc(var(--size-hd) + 2.4rem);
        }

        @include max(1200px) {
            width: 55rem;
        }

        @include max(930px) {
            width: 50%;
        }

        @include max(550px) {
            width: 100%;
        }
    }

    &-info {
        // width: 50%;
        flex: 1;

        .wrapper {
            .name {
                font-weight: 700;
                margin-bottom: 1rem;
                display: block;
            }
        }

        .heads {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            .tops {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1rem;
                justify-content: space-between;

                &-tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .4rem;
                }

                &-tag {
                    height: 3.2rem;
                    padding: 1rem 1.6rem;
                    border-radius: 100rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100rem;
                    font-size: 1.4rem;

                    &.brand {
                        background-color: var(--color-text);
                        font-weight: 700;
                        text-transform: uppercase;
                        color: white;
                    }

                    &.sale {
                        background-color: var(--color-second);
                        color: var(--color-text);
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    &.sold {
                        background-color: #E2FFE4;
                        color: #11DA22;
                        font-size: 1.2rem;
                    }
                }

                &-store {
                    display: flex;
                    align-items: center;
                    gap: .8rem;

                    .iwt {
                        --iz: 2.4rem;
                        gap: .4rem;

                        .txt {
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }

                    &-share {
                        width: 2.4rem;
                        height: 2.4rem;
                        flex-shrink: 0;

                        img {
                            width: inherit;
                            height: inherit;
                        }
                    }
                }

                @include max(1200px) {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                }
            }

            .mids {
                &-title {
                    @include fz-24;
                    font-weight: 700;
                }

                &-des {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .8rem;

                    &-it {
                        display: flex;
                        gap: .8rem;
                        color: #A0A0A0;

                        &:not(:first-child) {
                            &::before {
                                content: "/";
                                display: inline;
                            }
                        }

                        .name {
                            font-weight: 400;
                        }

                        .val {
                            color: var(--color-text);
                        }
                    }
                }
            }

            .bottoms {
                .box-price {
                    @include fz-24;
                    align-items: center;
                    gap: 0 1rem;

                    &-cur {
                        font-weight: 700;
                    }

                    &-old {
                        font-size: 0.8em;
                        width: 100%;
                    }

                    &-sale {
                        font-size: 0.8em;
                    }

                }

                .price-ins {
                    @include fz-24;
                    font-weight: 700 !important;
                    color: var(--color-text);

                    ins {
                        font-weight: inherit !important;
                    }
                }
            }
        }

        .bodies {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            &-prods {
                --cg: .8rem;
                --rg: .8rem;

                .col {
                    width: calc(100%/6);
                }
            }

            &-prod {
                display: block;
                cursor: pointer;

                input {
                    display: none;
                }

                &:has(input:checked) {
                    .img {
                        .img-inner {
                            border-color: var(--color-pri);
                        }
                    }
                }

                .img {
                    &-inner {
                        @include imgPd(1, 1);
                        border-radius: var(--radius);
                        border: 0.1rem solid transparent;

                        img {
                            @include imgContain;
                        }
                    }
                }

                &.disabled {
                    pointer-events: none;
                    cursor: not-allowed;

                    .img {
                        position: relative;

                        &-inner {
                            filter: brightness(0.5);
                        }

                        &::after {
                            @include pseudo;
                            height: 100%;
                            width: 100%;
                            background-image: url("../assets/images/disable-shoe.png");
                            @include default-background;
                            top: 0;
                            left: 0;
                            z-index: 3;
                        }
                    }
                }
            }

            &-sizes {
                --cg: .8rem;
                --rg: .8rem;

                .col {
                    width: calc(100%/4);
                }
            }

            &-size {
                height: 4.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.1rem solid var(--cl-bd);
                border-radius: var(--radius);
                cursor: pointer;

                input {
                    display: none;
                }

                &:has(input:checked) {
                    border-color: var(--color-pri);
                }

                .t-text {
                    text-transform: uppercase;
                }

                &.disabled {
                    pointer-events: none;
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }

            &-qty {
                display: flex;
                align-items: center;
                gap: .8rem;

                .name {
                    margin-bottom: 0;
                }
            }
        }

        .footers {
            &-total {
                display: flex;
                align-items: center;
                gap: .5rem 1rem;
                justify-content: space-between;
                margin-bottom: 2.4rem;

                .val {
                    @include fz-24;
                    font-weight: 700;
                }
            }

            &-btns {
                display: flex;
                flex-direction: column;
                gap: .8rem;

                .btn.white {
                    background-color: #F5F5F5;

                    @include hover {
                        background-color: var(--color-pri);
                    }
                }
            }

            &-info {
                margin-top: 2.4rem;

                &-heads {
                    font-weight: 700;
                    padding-bottom: 2rem;
                    border-bottom: 0.2rem solid var(--color-text);
                    margin-bottom: 1rem;
                }

                &-table {
                    table {
                        width: 100%;
                        font-size: 1.4rem;

                        tr {
                            &:not(:last-child) {
                                td {
                                    border-bottom: 0.1rem solid var(--cl-bd);
                                }
                            }

                            td {
                                padding: 1.6rem 0;

                                &:first-child {
                                    white-space: nowrap;
                                    padding-right: 1rem;
                                    color: #A0A0A0;
                                    text-transform: uppercase;
                                }

                                &:last-child {
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                .mona-content {
                                    p {
                                        font-weight: 400;
                                        text-transform: none;
                                        margin: 0;
                                    }
                                }
                            }

                            @include max(768px) {
                                td {
                                    padding: .5rem 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include max(768px) {
            .bodies {
                &-prods {
                    .col {
                        width: calc(100%/3);
                    }
                }

                &-sizes {
                    .col {
                        width: calc(100%/3);
                    }
                }
            }
        }

        @include max(630px) {
            .bodies {
                &-prods {
                    .col {
                        width: calc(100%/6);
                    }
                }

                &-sizes {
                    .col {
                        width: calc(100%/4);
                    }
                }
            }
        }
    }

    &-slide {
        display: flex;
        gap: 2.4rem;
        --w: 8.84rem;
        --w: 11%;
        position: relative;

        @include max(930px) {
            flex-direction: column-reverse;
        }

        &-thumb {
            width: var(--w);
            flex-shrink: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            @include max(930px) {
                width: 100%;
                position: static;

                .swiper {
                    &-slide {
                        width: calc(100%/5);
                    }
                }
            }

            .swiper {
                height: 100%;

                @include max(1200px) {
                    --cg: 1.6rem;
                    --rg: 1.6rem;
                }

                &-wrapper {}

                &-slide {
                    cursor: pointer;
                    height: fit-content;

                    &-thumb {
                        &-active {
                            .img-inner {
                                border-color: var(--color-pri)
                            }
                        }
                    }
                }
            }

            .img {
                &-inner {
                    @include imgPd(1, 1);
                    border-radius: var(--radius);
                    border: 0.1rem solid var(--cl-bd);

                    img {
                        @include imgContain;
                        object-fit: cover;
                    }
                }
            }
        }

        &-main {
            width: calc(100% - var(--w) - 2.4rem);
            height: 100%;
            margin-left: auto;

            @include max(930px) {
                width: 100%;
            }

            .swiper {
                border-radius: var(--radius);
                background: linear-gradient(180deg, #ABABA9 0%, #C5C5C5 100%);

                &-wrapper {}
            }

            .img {
                &-inner {
                    @include imgPd(697, 572);

                    img {
                        @include imgContain;
                    }
                }
            }
        }
    }

    @include max(630px) {
        &-info {
            width: 100%;
        }

        &-images {
            width: 100%;

            .wrapper {
                max-width: 40rem;
                margin: 0 auto;
            }
        }
    }




}

.page-prod {
    .prod-list {
        &-cate {
            max-width: 40rem;
            justify-content: center;
        }
    }
}

.box-price {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;

    .iwt {
        --iz: 1.2rem;
        --gap: .5rem;

        .txt {
            font-weight: 700;
            color: var(--color-pri);
        }
    }

    &-old {
        order: 3;
        color: #B2B2B2;
        text-decoration: line-through;
    }
}

.woocommerce div.product {
    .price {
        font-size: 1.6rem !important;
        color: var(--color-text) !important;
        font-weight: 400;

        .price-del {
            color: #B2B2B2;
            text-decoration: line-through;
            font-size: 0.8em;
            display: flex;
            gap: .6rem;

            del {
                display: none;
            }
        }

        .price-ins {
            color: inherit !important;

            ins {
                text-decoration: none;
                font-weight: 400 !important;
            }
        }

        .price-eye {
            cursor: pointer;
        }

        &.active {
            .price-del {
                del {
                    display: block;
                }

                .price-private {
                    display: none;
                }
            }
        }

        .mprd-wrap {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;

            .mprd-price {
                display: flex;
                flex-direction: column-reverse;
            }

            .box-price-sale {
                margin-left: 0.5rem;
            }

        }
    }
}

.prod-item {
    .inner {
        .info {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;

            &-tt {
                display: block;
                width: 100%;
            }

            &-pay {
                height: fit-content;
            }
        }
    }
}


// restyle
.prod-dt {
    ul:has(.variable-item.image-variable-item) {
        gap: .4rem !important;

        .variable-item.image-variable-item {
            width: calc(100% / 6 - .4rem) !important;
            aspect-ratio: 1/1;
            margin: 0;
            box-shadow: none !important;
            border: 0.1rem solid var(--cl-bd) !important;
            border-radius: var(--radius) !important;
            height: unset !important;
            padding: 0 !important;

            .variable-item-contents:before {
                z-index: 2;
            }

            img {
                border-radius: var(--radius) !important;
            }

            &.selected {
                border-color: var(--color-pri) !important;

                img {
                    filter: brightness(0.5);
                }
            }
        }
    }

    ul:has(.variable-item.button-variable-item) {
        gap: .4rem !important;

        .variable-item.button-variable-item {
            width: calc(100% / 4 - .4rem) !important;
            height: 4.8rem !important;
            margin: 0;
            box-shadow: none !important;
            border: 0.1rem solid var(--cl-bd) !important;
            border-radius: var(--radius) !important;
            padding: 0 !important;

            &.selected {
                border-color: var(--color-pri) !important;
                color: var(--color-pri) !important;
            }
        }
    }

}



.woocommerce-no-products-found {
    .woocommerce-info {
        border-color: var(--color-pri) !important;

        &::before {
            content: "\f05e" !important;
            font-family: "Font Awesome 6 Pro" !important;
            color: var(--color-pri) !important;
        }
    }
}

.sec-prod-search-results {
    .prod-list-main {
        padding-left: 0;
        border: none;
    }

    .prod-all {
        >.page-numbers {
            margin-top: 2.4rem;
        }
    }

}


.readJS {
    .mona-content {
        @include lc(10);
    }

    .seeMore {
        display: block;
    }

    .seeLess {
        display: none;
    }

    &.open {
        .mona-content {
            display: block;
        }

        .seeMore {
            display: none;
        }

        .seeLess {
            display: block;
        }
    }
}

.box-price-sale {
    display: none;
}

body.woocommerce {
    .hd-search-select .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 0;
        display: flex !important;
        align-items: center;
        height: 100%;
        padding-left: 1rem;
    }
}


.cart-block {
    .wc_payment_methods {
        padding: 0;
    }
    .wc_payment_method {
        position: relative;
        cursor: pointer;
        .payment-method-title {
            margin-left: 1rem;
            transform: translateY(25%);
            display: inline-block;
        }
        &::before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            flex-shrink: 0;
            border-radius: 100rem;
            border: 0.1rem solid var(--cl-bd);
            top: 0.4rem;
            left: 0;
            position: absolute;
        }
        &::after {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            flex-shrink: 0;
            border-radius: 100rem;
            background-color: var(--color-pri);
            top: 0.92rem;
            left: 0.52rem;
            position: absolute;
            opacity: 0;
        }
        label {
            padding-left: 1rem;
        }
        &:has(input:checked) {
            &::after {
                opacity: 1;
            }
            &::before {
                border-color: var(--color-pri);
            }
        }
    }
}

.cart {
    .cart-main {
        @include min(1061px) {
            height: 100%;
            position: sticky;
            top: 8rem;
        }
    }

}


// Canh table
.acc-table {
    table {
        tbody {
            tr {
                td{
                    &:last-child {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
.cart-table {
    table {
        .product-quantity {
            @include max(1200px) {
                .count {
                    gap: 0.5rem;
                    flex-wrap: nowrap;
                    .count-btn {
                        width: 2rem;
                        height: 2rem;
                    }
                    input {
                        height: 2rem;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    &.shop_table {
        .acc-price-table {
            table {
                @include max(700px) {
    
                    tr {
    
                        td {
                            &:first-child {
                                display: none;
                            }
                            &:nth-child(2) {
                                grid-row: span 4 / span 4;
                            }
                            
                            
                            &:nth-child(3) {
                                grid-column-start: 2;
                            }
                            
                            &:nth-child(4) {
                                grid-column-start: 2;
                                grid-row-start: 3;
                            }
                            
                            &:nth-child(5) {
                                grid-column-start: 2;
                                grid-row-start: 4;
                            }
    
                        }
                    }
                }
            }
        }
    }
}
