.box-price {
    --fz:1.6rem;
    font-size: var(--fz);
    display: flex;
    gap: .5rem;
    .price-cur {
        font-weight: normal;
        font-size: 1em;
        font-weight: 500;
    }
    .price-old {
        font-size: 1em;
        text-decoration: line-through;
        color: #949494;
    }
}