.recruit-tt {
    @include fz-32;
    font-weight: 500;
}

.recruit-lines {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}

.recruit-line {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.4rem;

    img {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
    }
}

.recruit-status {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: .5rem 2rem;
    font-size: 1.4rem;

    .name {
        color: #8C8C8C;
    }

    .val {
        position: relative;
        color: #46B434;

        &::after {
            content: "|";
            position: absolute;
            left: -1.4rem;
            top: 50%;
            transform: translateY(-50%);
            color: #8C8C8C;
            font-weight: 400;
        }
    }
}

.recruit-side {
    &-tt {
        @include fz-32;
        font-weight: 700;
        margin-bottom: 2.4rem;
        color: var(--color-pri);

        @include max(900px) {
            @include fz-32;
        }
    }
}

.recruit-list {
    @include min-max(501px, 1200px) {
        .col {
            width: 50%;
        }
    }

    @include max(700px) {
        .col:has(.news-item) {
            width: 100%;
        }
    }
}

.recruit-share {
    display: flex;
    justify-content: right;
    gap: 1rem;
    align-items: center;
    padding-top: 3.2rem;
    margin-top: 3.2rem;
    border-top: 0.1rem solid var(--cl-bd);
}

.recruit-form {
    &-box {
        width: 38.9rem;
        position: relative;
        height: 4.8rem;

        input {
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: 0.1rem solid #F2F4F7;
            background-color: #F2F4F7;
            border-radius: 100rem;
            padding-left: 2rem;
            padding-right: 10rem;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 50%;
            background-color: transparent !important;
            height: 3.2rem;
            transform: translateY(-50%);

            &::after {
                display: none;
            }

            .txt {
                padding-right: 1rem;
            }

            .txt-icon {
                background-color: white;
                width: 3.2rem;
                height: 3.2rem;
            }

            @include hover {
                .txt {
                    color: var(--color-pri);

                    &-icon {
                        background-color: var(--color-pri);
                    }
                }
            }
        }
    }
}

.page-rc:has(.recruit-mem) {
    .bn-dec-bot {
        background-color: #179273;
    }
}

.recruit-mem {
    background-color: #179273;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 var(--rds) var(--rds);

    &::after,
    &::before {
        @include pseudo;
        width: 70%;
        aspect-ratio: 983/1218;
        background-image: url("../assets/images/recruit-mem-dec.png");
        @include default-background;
        left: 0;
        bottom: 0;
        transform: translate(-30%, 40%);
    }

    &::before {
        width: 70%;
        left: unset;
        right: 0;
        transform: translate(30%, 30%);
        opacity: 0.5;
    }

    &-flex {
        position: relative;
        z-index: 2;

        .col {
            width: calc(3/12*100%);
            transform: translateY(10%);

            &:has(.recruit-mem-img) {
                width: calc(6/12*100%);
                transform: translateY(0%);

                .inner {
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }

            &:nth-child(1) {
                text-align: right;
                transform: translateY(5%);
            }

            &:nth-child(2) {
                order: 2;

                .box {
                    background-color: rgba($color: #005851, $alpha: .6);
                }
            }

            @include max(950px) {
                &:nth-child(n + 1) {
                    transform: none !important;
                }
            }

            @include max(950px) {
                width: 50%;

                &:nth-child(2) {
                    order: unset;
                }

                &:nth-child(3) {
                    width: 100%;

                    .inner {
                        max-width: 50rem;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    &-it {
        .box {
            background-color: rgba($color: #104B5A, $alpha: .8);
            padding: 2.4rem;
            color: white;
            border-radius: .8rem;
            margin-bottom: 2.4rem;

            .role {
                font-size: 1.4rem;
                font-weight: 700;
            }

            .name {
                @include fz-24;
                font-weight: 700;
            }

            .position {
                color: #FFFFA0;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.4rem;
            }
        }

        .des {
            color: white;
        }

        @include max(500px) {
            .box {
                padding: 1.5rem 1rem;
                font-size: 1.4rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                margin-bottom: 1rem;

                .role,
                .posiiton {
                    font-size: 1.2rem;
                }
            }

            .des {
                font-size: 1.2rem;
            }
        }
    }

    // 
    &-force {
        padding: 6rem 0;
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
        position: relative;
        z-index: 2;
        background: linear-gradient(180deg, rgba(41, 165, 134, 0.5) 0%, rgba(41, 165, 134, 0) 100%);
        border-radius: var(--rds);

        .flex {}

        &-it {
            .inner {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .icon {
                    width: 6.4rem;
                    height: 6.4rem;
                    flex-shrink: 0;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .tt {
                    @include fz-18;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #FFFFA0;
                }

                .des {
                    color: white;
                    font-weight: 700;
                    @include fz-20;
                }
            }
        }
    }
}

.popup-rc {
    max-width: 100rem;

    &-tt {
        @include fz-40;
        text-align: center;
        margin-bottom: 2.4rem;
        color: white;
        font-weight: 700;
    }

    .form-ip .select2-container--default .select2-selection--single {
        background-color: #F2F4F7;
    }

    .form-ip {
        .text {
            color: white;
        }
    }

    input,
    textarea {
        background-color: #F2F4F7;
    }

    .popup-wrapper {
        padding: 3rem;
        @include max(600px) {
            padding: 2rem 1.5rem;
        }
    }
    .popup-main-wrapper {
        background-color: transparent;
    }
    .popup-over {
        background-color: var(--color-pri);
        border-radius: 2rem;
        position: relative;
        .form-list {
            --cg:1.2rem;
            --rg:1.2rem;
        }
    }

    .dropZone .text {
        color: var(--color-text);
    }

    .dropZone .tt {
        color: white;
    }

    .dropZone .drop-area {
        background-color: white;
    }
}

.recruit-sort {
    .news-pagi {
        margin-top: 2.4rem;
    }
    &-filter {
        margin-bottom: 2.4rem;
        @include max(1200px) {
            margin-bottom: 1.2rem;
        }
        &-flex {
            .col {
                flex: 1;
                &:has(.btn) {
                    width: 20.5rem;
                    flex: unset;

                }
                @include max(940px) {
                    &:nth-child(1) {
                        width: 100%;
                        flex: unset;
                    }
                }
                @include max(600px) {
                    &:nth-child(1) {
                        order:3;
                        width: 50%;
                    }
                    &:nth-child(2),&:nth-child(3) {
                        width: 50%;
                    }
                    &:nth-child(4) {
                        order:4;
                        width: 50%;
                    }
                }
                @include max(500px) {
                    &:nth-child(n +1) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.recruit-form {
    padding: 4rem;
    background-color: var(--color-pri);
    border-radius: 2rem;
    overflow: hidden;
    position: relative;

    &::after {
        @include pseudo;
        height: 100%;
        width: 100%;
        background-image: url("../assets/images/rc-form-dec.png");
        @include default-background;
        top: 0;
        left: 0;
    }

    .wrapper {
        position: relative;
        z-index: 2;
    }

    .form-list {
        --cg: 1.2rem;
        --rg: 1.2rem;
    }

    @include max(768px) {
        padding: 2rem 1.5rem;
    }
}


.rc-top {
    &-list {
        @include max(940px) {
            justify-content: center;
        }
        .col {
            width: 20%;
            @include max(940px) {
                width: calc(100% / 3);
            }
            @include max(550px) {
                width: 50%;
            }
            @include max(430px) {
                width: 100%;
            }
        }
    }
}