footer.ft 
    .ft-top 
        .container 
            .ft-top-flex.row 
                .col 
                    a(href="").ft-top-item 
                        .iwt 
                            .icon   
                                +img("ic-ft1.svg")
                            .txt 
                                span.name Hotline:
                                span.val 1900 456 456
                .col 
                    a(href="").ft-top-item 
                        .iwt 
                            .icon   
                                +img("ic-ft2.svg")
                            .txt 
                                span.name email:
                                span.val binhnhikr@info.com
                .col 
                    a(href="").ft-top-item 
                        .iwt 
                            .icon   
                                +img("ic-ft3.svg")
                            .txt 
                                span.name Giờ làm việc:
                                span.val Thứ 2 - thứ 6 / 09:00 - 17:00
    .ft-mid 
        .container 
            .ft-mid-flex.row 
                .col 
                    .ft-mid-item 
                        .inner 
                            .icon 
                                +img("ic-md1.svg")
                            p.tt Giao hàng tận nơi, nhanh chóng
                            p.des Lorem Ipsum is simply dummy text of 
                .col 
                    .ft-mid-item 
                        .inner 
                            .icon 
                                +img("ic-md2.svg")
                            p.tt Chính sách đảm bảo hàng hóa, vận chuyển
                            p.des Lorem Ipsum is simply dummy text of 
                .col 
                    .ft-mid-item 
                        .inner 
                            .icon 
                                +img("ic-md3.svg")
                            p.tt Hỗ trợ khách hàng liên tục 24/7
                            p.des Lorem Ipsum is simply dummy text of 
                .col 
                    .ft-mid-item 
                        .inner 
                            .icon 
                                +img("ic-md4.svg")
                            p.tt Quản lý hàng tồn kho thuận tiện
                            p.des Lorem Ipsum is simply dummy text of 
    .ft-bottom 
        .container 
            .ft-bottom-flex.row 
                .ft-bottom-item.col 
                    .inner 
                        a(href="").ft-logo binhnhikr.com
                        .mona-content 
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                .ft-bottom-item.col 
                    .inner 
                        p.ft-tt Trợ giúp
                        ul.menu-list 
                            li.menu-item 
                                a(href="").menu-link Chính sách mua hàng 
                            li.menu-item 
                                a(href="").menu-link Chính sách vận chuyển
                            li.menu-item 
                                a(href="").menu-link Chính sách đổi trả hàng
                            li.menu-item 
                                a(href="").menu-link Chính sách thanh toán
                            li.menu-item 
                                a(href="").menu-link FAQs
                .ft-bottom-item.col 
                    .inner 
                        p.ft-tt Danh mục
                        ul.menu-list 
                            li.menu-item.current-menu-item 
                                a(href="").menu-link Về chúng tôi
                            li.menu-item 
                                a(href="").menu-link Giỏ hàng
                            li.menu-item 
                                a(href="").menu-link Tồn kho
                            li.menu-item 
                                a(href="").menu-link Liên hệ
                .ft-bottom-item.col 
                    .inner 
                        p.ft-tt Mạng xã hội
                        .ft-social 
                            a(href="").ft-social-item 
                                .iwt 
                                    .icon 
                                        +img("ic-fb.svg")
                                    .txt Facebook
                            a(href="").ft-social-item 
                                .iwt 
                                    .icon 
                                        +img("ic-yt.svg")
                                    .txt Youtube
                            a(href="").ft-social-item 
                                .iwt 
                                    .icon 
                                        +img("ic-ins.svg")
                                    .txt Instagram
                            a(href="").ft-social-item
                                .iwt
                                    .icon 
                                        +img("ic-tiktok.svg") 
                                    .txt Tiktok