footer.ft 
    .ft-wrap 
        .container 
            .ft-box 
                .ft-top 
                    .ft-top__flex 
                        .ft-logo 
                            a(href="").ft-logo__link
                                +img("logo.png")
                        .ft-text
                            +boxLeaf(0.5,3,0.2)
                            p.text-ln  Chữa lành và toả sáng từ thiên nhiên
                .ft-bottom
                    .ft-flex.row 
                        .ft-item.col 
                            .wrapper 
                                p.ft-tt Liên kết nhanh
                                ul.menu-list 
                                    li.menu-item 
                                        a(href="").menu-link Về chúng tôi
                                    li.menu-item 
                                        a(href="").menu-link Tin tức & Blog
                                    li.menu-item 
                                        a(href="").menu-link Hệ thống cửa hàng
                                    li.menu-item 
                                        a(href="").menu-link Flashsale
                        .ft-item.col 
                            .wrapper 
                                p.ft-tt Chính sách hỗ trợ
                                ul.menu-list 
                                    li.menu-item 
                                        a(href="").menu-link Câu hỏi thường gặp
                                    li.menu-item 
                                        a(href="").menu-link Chính sách vận chuyển
                                    li.menu-item 
                                        a(href="").menu-link Chính sách bảo mật thông tin
                                    li.menu-item 
                                        a(href="").menu-link Chính sách đổi trả
                                    li.menu-item 
                                        a(href="").menu-link Điều khoản & điều kiện
                        .ft-item.col 
                            .wrapper 
                                p.ft-tt Đã có mặt tại
                                .ft-info 
                                    .ft-imgs 
                                        .ft-img 
                                            +img("bewell.png")
                                        .ft-img 
                                            +img("trungson.png")
                                    p.ft-des và các nhà thuốc trên toàn quốc.
                            .wrapper 
                                p.ft-tt Phương thức thanh toán
                                .ft-credits 
                                    each val,index in Array(6)
                                        .ft-credit 
                                            +img(`credit${index + 1}.png`) 
                        .ft-item.col
                            .wrapper 
                                p.ft-tt Thông tin liên hệ
                                ul.ft-address 
                                    li.ft-address__item 
                                        a(href="").ft-address__link 89 Trần Văn Dư, P. Tân Bình, TP HCM 
                                    li.ft-address__item 
                                        a(href="").ft-address__link (028) 22600 006
                                        |/
                                        a(href="").ft-address__link (028) 0972 597 600
                                    li.ft-address__item 
                                        a(href="").ft-address__link info@biohealth.asia
                                +Social()
                                    

                        