header.hd
  .hd-wr
    .hd-top 
      .hd-top__decs(data-aos="fade-up-cus")  
        .hd-top__dec
          +img("hd-decs1.png")
        .hd-top__dec 
          +img("hd-decs2.png")
      .container 
        .hd-top__flex 
          .hd-top__btns 
            .hd-top__splide(data-aos="zoom-in") 
              .splide
                .splide__track 
                  .splide__list 
                    .splide__slide 
                      +Btn("Deal Sốc Hôm Nay","#","hd-btn rev","ic-sale.svg")
                    .splide__slide 
                      +Btn("Deal Sốc Hôm Nay","#","hd-btn rev","ic-gift.svg")
                    .splide__slide 
                      +Btn("Deal Sốc Hôm Nay","#","hd-btn rev","ic-member.svg")
                    .splide__slide 
                      +Btn("Deal Sốc Hôm Nay","#","hd-btn rev","ic-affi.svg")
    .hd-mid 
      .hd-mid__bg
        .hd-mid__bg-inner 
          +img("hd-hoavan.png")
      .container 
        .hd-mid-flex
          .hd-logo 
            a(href="").hd-logo-link
              +img("logo.png") 
          .hd-find 
            .hd-find__form 
              form(action="")
                .hd-find__flex 
                  input(type="text" placeholder="Bạn gặp vấn đề gì? Da nhạy cảm ")
                  button.hd-find__btn(type="submit")
                    +img("ic-srch.svg")
            .hd-find__dm 
              ul.hd-find__list 
                li.hd-find__item 
                  a(href="").hd-find__link Dầu gội 
                li.hd-find__item 
                  a(href="").hd-find__link Sữa tắm
                li.hd-find__item 
                  a(href="").hd-find__link Kem đánh răng
                li.hd-find__item 
                  a(href="").hd-find__link Bọt vệ sinh
          .hd-act 
            .hd-act__it.hd-srch
              .iwt 
                .icon 
                  +img("ic-srch.svg")
            .hd-act__it.hd-user 
              .iwt 
                .icon 
                  +img("ic-usr.svg")
                .b-gr 
                  span.txt Tài khoản
                  span.val Đăng ký / Đăng nhập
              .hd-user__menu 
                ul.hd-user__list 
                  li.hd-user__item 
                    a(href="").hd-user__link 
                      .iwt  
                        .icon 
                          i.fa-solid.fa-user
                        p.txt Thông tin tài khoản
                  li.hd-user__item 
                    a(href="").hd-user__link 
                      .iwt  
                        .icon 
                          i.fa-solid.fa-lock
                        p.txt Thay đổi mật khẩu
                  li.hd-user__item 
                    a(href="").hd-user__link 
                      .iwt  
                        .icon 
                          i.fa-solid.fa-address-card
                        p.txt Địa chỉ giao hàng
                  li.hd-user__item 
                    a(href="").hd-user__link 
                      .iwt  
                        .icon 
                          i.fa-solid.fa-box-open
                        p.txt Đơn hàng 
                  +Btn("Đăng xuất","","pri full","")
            .hd-act__it 
              .iwt 
                .icon 
                  +img("ic-locate.svg")
                .b-gr 
                  span.txt Cửa hàng
                  span.val Hồ Chí Minh
            .hd-act__it.hd-cart 
              .iwt 
                .icon 
                  +img("ic-cart.svg")
              .hd-cart__menu 
                .hd-cart__head Giỏ hàng
                .hd-cart__list 
                  each val,index in Array(5)
                    +MiniCart()
                .hd-cart__btns 
                  +Btn("Xem giỏ hàng","#","pri small full","")
                  +Btn("Thanh toán","#","second small full","")

    .hd-bottom
      .container
          .hd-bottom__flex 
            .hd-bottom__cate 
              .hd-bottom__menu 
                .iwt 
                  .icon 
                    +img("ic-cate.svg")
                  span.txt Danh mục sản phẩm
            .hd-nav 
              .menu-nav
                +renderMenu(menuItems)  
            .hd-lookup 
              a(href="").iwt
                .icon 
                  +img("ic-lookup.svg")
                span.txt Tra cứu đơn hàng
            +Burger
  +Found
  .mobile-overlay
  .mobile
    .mobile-con
      .mobile-wr
        .mobile-nav
          .menu-nav
            +renderMenu(menuItems)
          .mobile-content
            +Social()

