.back-to-top.backToTop
    .triangle
        +img("ic-to-top.png")
//- .sidefix 
//-     .sidefix-item 
//-         a.sidefix-link(href="")
//-             +img("ic-zalo.svg") 
//-     .sidefix-item
//-         a.sidefix-link(href="")
//-             +img("ic-mess.svg") 
//-     .sidefix-item
//-         .phone-number 
//-             span.txt (8h-20h)
//-             span.num 0931.227.227
//-         a.sidefix-link(href="")
//-             +img("ic-phone.svg") 
script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/isotope/isotope.pkgd.min.js')
script(src='./assets/library/datetime/moment.min.js')
script(src='./assets/library/datetime/daterangepicker.min.js')
script(src='./assets/library/smoothscroll/SmoothScroll.min.js')
script(src='./assets/library/splitting/splitting.min.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/ScrollTrigger.min.js')
script(src='./assets/library/trimline/jquery.trimLines.js')
script(src='./assets/library/ukiyo/ukiyo.min.js')
script(src='./assets/library/splide/splide.min.js')
script(src='./assets/library/splide/splide-extension-auto-scroll.min.js')
script(src='./assets/library/lenis/lenis.js')
script(src='./assets/library/vanilatilt/vanilla-tilt.min.js')
script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0', nonce='ne2GUJUu')
script(src='./js/main.js' type='module')

