extends layout/layout

block vars
    -title = 'Thông tin tài khoản'
    -bodyClass = 'page-acc'
block container 
    section.sec-acc
        .acc 
            .container 
                .acc-flex 
                    input(type="checkbox").acc-checkside#acc-checkside
                    label.acc-side-overlay(for="acc-checkside")
                    .acc-side 
                        .wrapper 
                            .acc-heads 
                                .iwt 
                                    .icon 
                                        +img("avatar.jpg")
                                    .b-gr 
                                        p.txt Nguyễn Văn A
                                        p.des ID: 1234
                            .acc-bodies 
                                a(href="").acc-item.active 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc1.svg")
                                        p.txt Thông tin tài khoản
                                a(href="").acc-item 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc2.svg")
                                        p.txt Thay đổi mật khẩu
                                a(href="").acc-item 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc3.svg")
                                        p.txt Địa chỉ giao hàng
                                a(href="").acc-item 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc4.svg")
                                        p.txt Đơn hàng
                                a(href="").acc-item 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc5.svg")
                                        p.txt Công nợ
                                .acc-cn 
                                    span.txt -730,000,000 vnđ
                                    p.des Thanh toán trước ngày 5 hàng tháng
                            .acc-bottoms 
                                +Btn("Đăng xuất","","pri full")
                    .acc-main 
                        .wrapper 
                            .acc-heads 
                                h1.acc-title Thông tin tài khoản
                                label.acc-btnside(for="acc-checkside")
                                    i.fa-solid.fa-sidebar

                            .acc-bodies 
                                label.acc-upload.imgReviewJS
                                    input(type="file")
                                    .iwt 
                                        .icon.img 
                                            +img("avatar.jpg")
                                        p.txt Tải ảnh lên
                                +Form 
                                    +FormIp("Họ tên khách hàng","","Họ tên khách hàng","col per5")
                                    +FormIp("Tên cửa hàng","","Tên cửa hàng","col per5")
                                    +FormIp("Chức vụ","","Chức vụ","col")
                                    +FormIp("Số điện thoại","","Số điện thoại","col per5")
                                    +FormIp("Email","","Email","col per5")
                                    +FormWrap
                                        +Btn("Cập nhật thay đổi","button","third")


                        