extends layout/layout

block vars
    -title = 'Địa chỉ - Chỉnh sửa'
    -bodyClass = 'page-acc'

block container
    section.sec-breadcrumb
        .container
            +BreadCrumb([{txt:"Địa chỉ - Chỉnh sửa"}])
    section.sec-acc 
        .acc 
            .container
                .acc__flex.row
                    .acc__left.col 
                        .wrapper
                            .acc__box.scrollContainer 
                                a(href="").acc__box-item.buttons.active
                                    .iwt 
                                        .icon 
                                            +img("ic-acc-usr.svg") 
                                        p.txt Thông tin tài khoản
                                a(href="").acc__box-item.buttons
                                    .iwt 
                                        .icon 
                                            +img("ic-acc-mana.svg") 
                                        p.txt Quản lý đơn hàng
                                a(href="").acc__box-item.buttons
                                    .iwt 
                                        .icon 
                                            +img("ic-acc-heart.svg") 
                                        p.txt Sản phẩm yêu thích
                    .acc__right.col
                        .wrapper 
                            .acc__headline 
                                .acc__heads 
                                    a(href="").acc__heads-item 
                                        p.txt thông tin
                                    a(href="").acc__heads-item.active  
                                        p.txt địa chỉ
                                    a(href="").acc__heads-item
                                        p.txt mật khẩu
                            .acc__contents 
                                .acc__info 
                                    +Form 
                                        +FormSelect("Thành phố, tỉnh","","Thành phố, tỉnh","col per5")
                                        +FormSelect("Phường","","Phường","col per5")
                                        +FormIp("Địa chỉ cụ thể","","Địa chỉ cụ thể","col")
                                        .form-ip.col 
                                            .acc__info-flex     
                                                .acc__info-choose 
                                                    span.txt Loại địa chỉ:
                                                    .acc__info-choose-boxes 
                                                        label.acc__info-choose-box 
                                                            input(type="radio" name="acc__info-choose-box" value="1")
                                                            span.txt Nhà riêng
                                                        label.acc__info-choose-box 
                                                            input(type="radio" name="acc__info-choose-box" value="2")
                                                            span.txt Công ty
                                                label.acc__info-switch 
                                                    input(type="checkbox" name="acc__info-switch" value="1")
                                                    .acc__info-switch-box
                                                    p.acc__info-switch-txt Đặt làm địa chỉ mặc định
                                        +FormWrap("")
                                            +Btn("Lưu thông tin","","pri","")
    +secSale