extends layout/layout

block vars
    -title = 'Đơn hàng'
    -bodyClass = 'page-acc'
block container 
    section.sec-acc
        .acc 
            .container 
                .acc-flex 
                    input(type="checkbox").acc-checkside#acc-checkside
                    label.acc-side-overlay(for="acc-checkside")
                    .acc-side 
                        .wrapper 
                            .acc-heads 
                                .iwt 
                                    .icon 
                                        +img("avatar.jpg")
                                    .b-gr 
                                        p.txt Nguyễn Văn A
                                        p.des ID: 1234
                            .acc-bodies 
                                a(href="").acc-item 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc1.svg")
                                        p.txt Thông tin tài khoản
                                a(href="").acc-item  
                                    .iwt 
                                        .icon 
                                            +img("ic-acc2.svg")
                                        p.txt Thay đổi mật khẩu
                                a(href="").acc-item
                                    .iwt 
                                        .icon 
                                            +img("ic-acc3.svg")
                                        p.txt Địa chỉ giao hàng
                                a(href="").acc-item.active 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc4.svg")
                                        p.txt Đơn hàng
                                a(href="").acc-item 
                                    .iwt 
                                        .icon 
                                            +img("ic-acc5.svg")
                                        p.txt Công nợ
                                .acc-cn 
                                    span.txt -730,000,000 vnđ
                                    p.des Thanh toán trước ngày 5 hàng tháng
                            .acc-bottoms 
                                +Btn("Đăng xuất","","pri full")
                    .acc-main 
                        .wrapper 
                            .acc-heads 
                                h1.acc-title Đơn hàng
                                label.acc-btnside(for="acc-checkside")
                                    i.fa-solid.fa-sidebar

                            .acc-bodies 
                                .acc-table 
                                    .acc-table-filter 
                                        span.txt Lọc theo trạng thái
                                        +SelectNormal("Tất cả")
                                    .acc-table-scroll
                                        table 
                                            thead 
                                                tr 
                                                    th Mã đơn hàng
                                                    th Ngày mua
                                                    th Tiền hàng
                                                    th Trạng thái
                                                    th
                                            tbody 
                                                tr 
                                                    td #123456
                                                    td 28.09.2025
                                                    td.bold 180,000,000
                                                    td  
                                                        .status-tag.completed  Đã thanh toán
                                                    td 
                                                        a(href="").table-link  Xem chi tiết
                                                tr 
                                                    td #123456
                                                    td 28.09.2025
                                                    td.bold 180,000,000
                                                    td  
                                                        .status-tag.pending  Đang phê duyệt
                                                    td 
                                                        a(href="").table-link  Xem chi tiết
                                                tr 
                                                    td #123456
                                                    td 28.09.2025
                                                    td.bold 180,000,000
                                                    td  
                                                        .status-tag.canceled  Đã hủy
                                                    td 
                                                        a(href="").table-link  Xem chi tiết
                                                each val,index in Array(10)
                                                    tr 
                                                        td #123456
                                                        td 28.09.2025
                                                        td.bold 180,000,000
                                                        td  
                                                            .status-tag.processing  Đang xử lý
                                                        td 
                                                            a(href="").table-link  Xem chi tiết
                                .acc-pagi 
                                    +PageNumber

                        
                        
