extends layout/layout

block vars
    -title = 'Hoàn tất đơn hàng'
    -bodyClass = 'page-complete'
block container 
    +BreadCrumb([{txt:"Hoàn tất đơn hàng"}])
    section.sec-compleBox
        .compleBox
            .js-confetti 
            .container 
                .compleBox-ctn  
                    .icon 
                        +img("ic-check.svg")
                    p.name 
                        |Đơn hàng 
                        strong #123456 
                        |đã hoàn tất
                    .mona-content 
                        p Đơn hàng của bạn đã được đặt thành công, chúng tôi sẽ sắp xếp và giao cho bạn trong thời gian sớm nhất.
                        p Mọi thắc mắc xin liên hệ với chúng tôi quá số hotline:
                    a(href="").compleBox-link  1900 456 456
                    +Btn("Trở về trang chủ","","second")