extends layout/layout

block vars
    -title = 'Liên hệ'
    -bodyClass = 'page-contact'
block container 
    +BreadCrumb([{txt:"Liên hệ"}])
    section.sec-contact
        .contact 
            .container 
                .contact-flex 
                    .contact-main
                        .wrapper 
                            .contact-heads 
                                h3.cart-title Liên hệ hợp tác
                            +Form 
                                +FormIp("Họ tên khách hàng","","Họ tên khách hàng","col per5")
                                +FormIp("Chức vụ","","Chức vụ","col per5")
                                +FormIp("Email","","Email","col per5")
                                +FormIp("Số điện thoại","","Số điện thoại","col per5")
                                +FormArea("Nội dung","","Nội dung","col")
                                +FormWrap 
                                    +Btn("Gửi tin","button","third full")
                    .contact-side
                        .wrapper 
                            .contact-heads 
                                h3.cart-title Thông tin liên hệ
                            .contact-info 
                                .contact-info-it 
                                    .iwt 
                                        .icon 
                                            +img("ic-ft0.svg")
                                        .b-gr 
                                            p.name Địa chỉ:
                                            .mona-content 
                                                p 1073/23 Cách mạng Tháng 8, Phường 11, Quận 3, Tp. Hồ Chí Minh
                                .contact-info-it.phone 
                                    .iwt 
                                        .icon 
                                            +img("ic-ft1.svg")
                                        .b-gr 
                                            p.name Hotline:
                                            a(href="").link(data-text="24/7")  1900 456 456
                                .contact-info-it 
                                    .iwt 
                                        .icon 
                                            +img("ic-ft2.svg")
                                        .b-gr 
                                            p.name Email:
                                            a(href="").link  binhnhikr@info.com
                                .contact-info-it 
                                    .iwt 
                                        .icon 
                                            +img("ic-ft3.svg")
                                        .b-gr 
                                            p.name Giờ làm việc:
                                            .mona-content 
                                                p Thứ 2 - thứ 6: 09:00 - 17:00
                                                p Thứ 7: 09:00 - 15:00
                                                p Chủ nhật: Không làm việc