extends layout/layout

block vars
    -title = 'Tìm kiếm đơn hàng'
    -bodyClass = 'page-order'

block container 
    section.sec-breadcrumb
        .container
            +BreadCrumb([{txt:"Tìm kiếm đơn hàng"}])
    section.sec-order-find
        .sec-homes-vct 
            +boxLeaf(1.5,3,0.5)
            .homes-vct.ss-pd-min-t 
                .container 
                    .homes-vct__flex.row 
                        .homes-vct__left.col 
                            .wrapper(data-aos="fade-right-cus" data-aos-delay="") 
                                .img 
                                    .img-inner 
                                        +img("order-find-img.png")
                        .homes-vct__right.col 
                            .wrapper 
                                .sign__box 
                                    .dec 
                                        .dec-in 
                                            +img("homes-flash-dec5.png")
                                    +headVerti("mb-24 center") 
                                        +title40("TRA CỨU ĐƠN HÀNG")
                                    +Form 
                                        +FormIp("Mã đơn hàng của bạn... ","","Mã đơn hàng của bạn... ","col")   
                                        +FormWrap()
                                            +Btn("Tìm kiếm ngay","button","second center","ic-arrow.svg")
    +secSale                                